body {
  margin: 0;
}

#cesium {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#infobar {
  position: absolute;
  top: 200px;
  left: 5px;
  color: RGBA(255, 255, 255, 0.2);
}

#colortable {
  display: block;
  position: absolute;
  top: 50px;
  left: 5px;
  color: RGBA(255, 255, 255, 0.5);
  background-color: RGBA(31, 31, 31, 0.5);
}

#buttonContainer {
  position: absolute;
  top: 5px;
  left: 5px;
}

.circle {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  white-space: pre;
}